<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ec58df47-b833-4c08-9ec3-2a4f514d8703/resourcegroups/WooliesXExercisesResourceGroup/providers/Microsoft.Web/sites/WooliesExercisesAppService</ResourceId>
    <ResourceGroup>WooliesXExercisesResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wooliesexercisesappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://wooliesexercisesappservice.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>3c47d3e6-9c11-44e2-94dc-bd62887282bc</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sg1-051.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WooliesExercisesAppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WooliesExercisesAppService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>